/* blocks/bio-cards/bio-cards.css */

.section.our-team {
    margin: 0;
}

.our-team {
    padding: 6.75rem 0;
    background-color: #f1f1f1;
}

.our-team .bio-cards {
    display: flex;
    flex-direction: column;
    gap: var(--text-5xl);
}

.our-team .bio-cards .bio-cards-slide {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.our-team .bio-cards .bio-card-img {
    width: 30%;
    height: 699px;
}

.our-team .bio-cards .bio-card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.our-team .bio-cards .bio-card-content {
    background-color: #fff;
    height: auto;
    padding: 3rem 50px;
    max-width: 50%;
}

.our-team .bio-cards .bio-card-content .bio-card-name {
    font-size: var(--text-3xl);
    color: #e00025;
    font-weight: 500;
    line-height: var(--text-3xl-lh);
    margin-bottom: 0.5rem;
    margin-top: 0;
    font-family: var(--ff-medium), sans-serif;
    text-align: start;
}

.our-team .bio-cards .bio-card-content .bio-card-designation {
    font-family: var(--ff-thin), sans-serif;
    text-align: start;
    font-size: var(--text-lg);
    line-height: var(--text-3xl);
    font-weight: 300;
    color: rgb(33 37 41);
    margin-bottom: var(--text-base);
    margin-top: 0;
    position: relative;
}

.our-team .bio-cards .bio-card-content .bio-card-designation::after {
    background: #e8e8e9;
    content: '';
    height: 5px;
    left: 0;
    margin: 10px auto;
    position: absolute;
    top: 100%;
    width: 20%;
}

.our-team .bio-cards .bio-card-content .bio-card-description {
    list-style: none;
    line-height: var(--text-lg-lh);
    margin: 0 auto;
    max-width: 100%;
    position: relative;
    white-space: normal;
    padding: 24px 0 0;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.our-team .bio-cards .bio-card-content .bio-card-btn-text {
    max-width: 250px;
    height: 60px;
    margin: 3rem 0;
}

.our-team .bio-cards .bio-card-content .bio-card-btn-text .button {
    width: 100%;
    background-color: #f7f7f7;
    display: flex;
    justify-content: space-between;
    font-size: var(--text-xl);
    line-height: var(--text-3xl);
    font-weight: 600;
    color: rgb(224 0 37);
    cursor: pointer;
    font-family: var(--ff-semibold);
}

.our-team .bio-cards .bio-card-content .bio-card-description li {
    text-align: start;
    margin-bottom: var(--text-base);
    margin-top: 0;
    font-family: poppin-regular, sans-serif;
    font-size: var(--text-xl);
    line-height: var(--text-lg-lh);
    color: rgb(33 37 41);
}

@media (width <= 900px) {
    .our-team {
        padding: 60px 0;
    }

    .our-team .bio-cards .bio-card-content .bio-card-designation::after {
        left: 38%;
    }

    .our-team .bio-cards .bio-cards-slide {
        flex-direction: column;
    }

    .our-team .bio-cards .bio-card-img {
        width: 100%;
        height: auto;
        line-height: 0px;
    }

    .our-team .bio-cards .bio-card-content {
        max-width: 100%;
    }

    .our-team .bio-cards-wrapper {
        padding: 0 12px;
    }

    .our-team .bio-cards .bio-card-content .bio-card-name,
    .our-team .bio-cards .bio-card-content .bio-card-designation,
    .our-team .bio-cards .bio-card-content .bio-card-description li {
        text-align: center;
    }

    .our-team .bio-cards .bio-card-content .bio-card-name {
        font-size: var(--text-lg-lh);
        line-height: var(--text-3xl);
    }

    .our-team .bio-cards .bio-card-content .bio-card-designation {
        font-size: var(--text-lg);
        line-height: var(--text-2xl);
        font-weight: 300;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .our-team .bio-cards .bio-card-content .bio-card-description li {
        font-size: var(--text-xl);
        line-height: var(--text-lg-lh);
        font-weight: 400;
    }
}